.p-static{
position: static;
left: 1px;
right:1px;
top:5px;
bottom:6px;
border:3px dotted red
}
.p-relative{
  position: relative;
  top: 5px;
  bottom:1px;
  left:0px;
  right:0px;
  background-color:blue;
}
.p-fixed{
  position: fixed;
  top: 80px;
  bottom:7px;
  right:px;
  left: opx;
  color:red;
  font-size:20px;
}
.p-absulute{
  position:absolute;
  
}